@charset 'utf-8';

.pesquisar{
    width: 20%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
    border: solid 0.1em #ffffff;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: all ease-out 0.2s;
}
.pesquisar:focus{
    width: 50%;
    transition: all ease-in 0.2s;
}
.conteudo{
    width: 100%;
    height: 400px;
    background: #0d1c30;
    margin: auto;
    position: relative;
    top: 50px;
    box-shadow:10px 7px 5px #999999;
    overflow-y:scroll;
    scroll-behavior: smooth;
    -webkit-scrollbar-button:#000;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #999999;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #3dc3f2;
    margin: auto;
}


.botao{
    width: 25%;
    background-color: #023e7d;
    font-family: 'tahoma';
    color: ivory;
    border-radius: 20px;
    border: solid 2px #fff;
    position: absolute;
    left: 38%;
    top: 50px;
    outline: 0;
}
.botao:hover{
    background: ivory;
    color: #023e7d;
}

.botao :hover{
    background-color: burlywood;
    text-align: center;
}

.busca{
    color: ivory;
    font-family: 'tahoma';
}


.ruas{
    background-color: ivory;
    height: 100px;
    margin: auto;
    width: 50%;
    text-align: center;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 50px;
}

.codigo{
    height: 40px;
    position: relative;
    top: 60px;
    border-radius: 20px;
    border: solid 1px #cecece;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), inset 5px 5px 5px (rgba(34, 16, 99, 1));
    outline: 0;
    background: #cccecc;
    color: #1c1c1c;
    font-family: 'tahoma';
    margin: auto;
}



#enter{
    position: relative;
    top: 70px;
    background-color: rgb(68, 216, 147);
    border: solid 1px #0a742d;
    box-shadow:0px 3px 8px #0a742d;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    left: 42%;
    
}


#div_inicial{
    width: 50%;
    height: 400px;
    background: linear-gradient(90deg, rgba(65, 105, 225, 1) 38%, rgb(34, 90, 173) 100%);
    margin: auto;
    position: relative;
    top: 30px;
    box-shadow: 7px 8px 6px rgba(0, 0, 0, 0.4);
}

.tbl_paletes{
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    top: 50px;
    border: 0;
    margin: auto;
    
}

.tbl_paletes td{
    background: #3dc3f2;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border: 0;
    
}


.tbl_paletes td:hover{
    background: #023e7d;
    color: white;
    transition: all ease-in 0.1s;
    cursor: pointer;
    
}

.bt_add{
    margin: 15px;
}


.cabeçalho{
    color: white;
}

@media (max-width:767px){
    #div_inicial{
        width: 100%;
        
    }
    #enter{
        width:80px;
        height: 30px;
        font-size: 15px;
        left: 40%;
    }

    .ruas{
        max-width: 50%;
        margin:auto;
        position: relative;
        top: 50px;
        
    }

    .tbl_paletes td{
       min-width: 70px;
}

.modal_prod{
    background-color: teal;
}

.w3_modal_content{
    background-color:teal;
}

@media (min-width:768px) and (max-width:1024px){


@media (min-width:767px) and (max-width:1024px){
    #div_inicial{
        width: 100%;
    }
    #enter{
        left: 43%;
    }
}

@media (max-width: 325px){
    #enter{
        left:37%;
    }
}

