@charset 'utf-8';
    input[type="text"] {
    background-color: #ADD8E6;
}

.bgcolor{
    background-color: #F0F8FF;
}
.pesquisar{
    width: 25%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    border: dashed 0.5px #999999;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: all ease-out 0.2s;
}
.pesquisar:focus{
    width: 50%;
    transition: all ease-in 0.2s;
}
.conteudo{
    width: 100%;
    height: 400px;
    background: #0d1c30;
    margin: auto;
    position: relative;
    top: 50px;
    box-shadow:10px 7px 5px #999999;
    overflow-y:scroll;
    scroll-behavior: smooth;
    -webkit-scrollbar-button:#000;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #999999;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #3dc3f2;
    margin: auto;
}


.botao{
    background-color: #ff7f00;
    font-family: 'tahoma';
    color: #ffffff;
    border-radius: 20px;
    border: solid 2px #fff;
    position: absolute;
    left: 42.5%;
    top: 50px;
    outline: 0;
    width: 15%;
    margin: auto;
    height: 40px;
}
.botao:hover{
    background: #023e7d;;
    color: #fff;
}

.busca{
    color: ivory;
    font-family: 'tahoma';
}


.ruas{
    background-color: rgb(233, 175, 122);
    height: 100px;
    margin: auto;
    width: 50%;
    text-align: center;
    box-shadow: 7px 7px 5px;
    position: relative;
    top: 50px;
    font-size: 25px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ruas:hover{
    background-color: whitesmoke;
    cursor: pointer;
    transition: all ease-in 0.2s;
   
}

.codigo{
    height: 40px;
    position: relative;
    top: 60px;
    border-radius: 20px;
    border: solid 1px #cecece;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), inset 5px 5px 5px (rgba(34, 16, 99, 1));
    outline: 0;
    background: #cccecc;
    color: #1c1c1c;
    font-family: 'tahoma';
    margin: auto;
}



#enter{
    position: relative;
    top: 70px;
    background-color:  #ff7f00;
    border: solid 1px  #e4a86b;
    box-shadow:0px 4px 8px  rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    left: 42%;
    
}


#div_inicial{
    width: 50%;
    height: 400px;
    background: linear-gradient(90deg, rgba(65, 105, 225, 1) 38%, rgb(34, 90, 173) 100%);
    margin: auto;
    position: relative;
    top: 30px;
    box-shadow: 7px 8px 6px rgba(0, 0, 0, 0.4);
}

.tbl_paletes{
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    top: 50px;
    margin: auto;
    
    
}

.tbl_paletes td{
    background: #ff7f00;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border: solid 2px #fff;
  
}


.tbl_paletes td:hover{
    background: #f09037;
    color: white;
    transition: all ease-in 0.1s;
    cursor: pointer;
    
}

.bt_add{
    margin: 15px;
}

.tbl_produtos{
    text-align: center;
    color: white;
    position: relative;
    top:20px;
   
}

#lblQtd{
    font-size: 20px;
    position: relative;
    left:23%;
    font-style: oblique;
}

.cabeçalho{
    color: white;
}

.tbl_produtos .valores{
    color: white;
    position: relative;
    
}

.modall{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}

.botoes_ac{
    width: 40%;
 
 }

 .sem_prod{
    color:#dedede; display:flex; justify-content:center; align-items:center; background-color:#f09037; height:50px; width:40%; margin:auto;
}

@media (max-width:767px){
    #div_inicial{
        width: 100%;
        
    }
    #enter{
        width:80px;
        height: 30px;
        font-size: 15px;
        left: 40%;
    }

    .sem_prod{
        width: 70%;
        font-size: 18px;
    }

    .ruas{
        max-width: 50%;
        margin:auto;
        position: relative;
        top: 50px;
        
    }

    .tbl_paletes td{
       min-width: 70px;
}


.bt{
    margin:5px; 
}
.botoes_ac{
    width: 800px;
}

.tbl_produtos{
    min-width: 700px;
}

.botao{
    width:35%;
    left:35%;
}

.pesquisar{
    width: 40%;
    left:8px;
}

.pesquisar:hover{
    width: 60%;
}

#lblQtd{
    
    left:250px;
    
}


}

@media (min-width:767px) and (max-width:1023px){
    #div_inicial{
        width: 100%;
    }
    #enter{
        left: 43%;
    }

    .bt{
        margin:5px; 
    }

    .sem_prod{
        width: 30%;
        font-size: 16px;
    }
    
}

@media (min-width:1024px) and (max-width:1030px){
    .sem_prod{
        width: 40%;
        font-size: 18px;
    }
}

@media (max-width: 325px){
    #enter{
        left:37%;
    }
}

